<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.howest.lolmetabuilder" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="be.howest.lolmetabuilder.MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyChampionActivity"
            android:label="@string/title_activity_my_champion" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyActivityLore"
            android:label="@string/title_activity_my_activity_lore" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyActivityGenerateBuild"
            android:label="@string/title_activity_my_activity_generate_build" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyActivityStatPriority"
            android:label="@string/title_activity_my_activity_generate_build" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyChampionOverviewActivity"
            android:label="@string/title_activity_my_champion_overview" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyAbilitiesActivity"
            android:label="@string/title_activity_my_abilities" >
        </activity>
        <activity
            android:name="be.howest.lolmetabuilder.MyBuildsActivity"
            android:label="@string/title_activity_my_builds" >
        </activity>
        <meta-data
            android:name="webservice.static-data"
            android:value="https://global.api.pvp.net/api/lol/static-data/euw/v1.2/"/>
        <meta-data
            android:name="webservice.freeRotation"
            android:value="https://euw.api.pvp.net/api/lol/euw/v1.2/champion?freeToPlay=true"/>
        <meta-data
            android:name="auth.client_secret"
            android:value="&amp;api_key=eba44b46-d00c-4c09-843a-95152831e3a6"/>
    </application>

</manifest>
